<!doctype html>
<html class="theme-next pisces use-motion" lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <!-- <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"> -->
  <title>搜索结果</title>
  <style>
  html,
  body {
    color: #555;
    line-height: 2;
    overflow: auto;
  }
  .search {
    background: #F5F7F9;
  }
  .search__inner {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
    min-height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .search__prompt {
    text-align: center;
  }
  .search__list {
    padding: 0;
  }
  .search__item {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
  }
  .search__title {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
    text-decoration: none;
    color: #555;
  }
  .search__content {
    padding: 5px 0;
    color: #222;
  }
  .search__keyword {
    border-bottom: 1px dashed #f00;
    font-weight: bold;
    color: #f00;
  }
</style>
</head>
<body>
  <div class="search">
    <div class="search__inner">
      <div class="search__prompt">搜索到 <%=items.length%> 篇相关日志。</div>
      <ul class="search__list">
        <%items.forEach(function(item){%>
          <li class="search__item">
            <a class="search__title" href="<%=item.articleUrl%>">
              <span><%-item.resultTitle%></span>
            </a>
            <div class="search__content">
              <%-item.resultContent%>
            </div>
          </li>
          <%})%>
        </div>
    </ul>
  </div>
</body>
</html>
