html,
body {
  color: #555;
  line-height: 2;
  overflow: auto;
}
.search {
  background: #F5F7F9;
}
.search__inner {
  width: 700px;
  margin: 0 auto;
  background: #fff;
  padding: 40px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.search__prompt {
  text-align: center;
}
.search__list {
  padding: 0;
}
.search__item {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
}
.search__title {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #999;
  word-wrap: break-word;
  text-decoration: none;
  color: #555;
}
.search__content {
  padding: 5px 0;
  color: #222;
}
.search__keyword {
  border-bottom: 1px dashed #f00;
  font-weight: bold;
  color: #f00;
}
